  body {
            background-color: aqua;
            font-family: Arial, Helvetica, sans-serif;
        }

        h1 {
            color: #1101fd;
        }

        h2 {
            color: #7201fd;
        }
        p{
            color: rgb(186, 5, 5); background-color: black;
        }